<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark mb-5 px-3 nav-container"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Angular review: Pablo Asenjo</a>
    <button
      style="margin-bottom: 0"
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      &#9776;
    </button>
    <div
      [ngbCollapse]="isMenuCollapsed"
      class="collapse navbar-collapse"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
        <a
          class="nav-link"
          routerLink="/basics-review"
          routerLinkActive="active"
          >Basics section</a
        >
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid content-container px-5 mw-50">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
