<div class="container">
  <div class="row">
    <div class="col-12 col-md-3 my-auto">
      <img
        class="img-fluid animate__animated animate__slideInLeft"
        src="../../assets/angular-logo.png"
        alt="angular logo"
      />
    </div>
    <div class="col-12 col-md-6">
      <div class="container my-auto animate__animated animate__fadeIn">
        <h1 class="my-3 py-3">Content review</h1>
        <h2>Welcome to my Angular content review app!</h2>
        <p>Click any of the links above to start loading different sections.</p>
        <p>All this is managed through Router.</p>
        <button routerLink="/basics-review" class="btn btn-primary">
          Go to basics section
        </button>
      </div>
    </div>
  </div>
</div>
